body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
}
.container {
    height: 430px;
    width: 280px;
    background-color: white;
    border-radius: 16px;
}

#qr {
    height: 260px;
    width: 260px;
    margin: 10px;
    border-radius: 10px;
}

#title {
    text-align: center;
    font-weight: 700;
    font-family: "Outfit", sans-serif;
    color: hsl(218, 44%, 22%);
    margin: 0 auto;
}

#content {
    text-align: center;
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    color: hsl(216, 15%, 48%);
}